* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Outfit", sans-serif;
	background: white;
}

img {
	width: 100%;
	height: auto;
	margin-bottom: 5%;
}

main {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

h1, h2 {
	color: hsl(24, 5%, 18%);
	margin-bottom: 5%;
	font-family: "Young Serif", Serif;
	font-weight: 400;
}

h2 {
	font-weight: 800;
	margin-top: 5%;
}

h4 {
	display: inline;
	color: hsl(24, 5%, 18%);
}

p {
	font-size: 1rem;
	color: hsl(24, 5%, 18%);
}

.prep {
	margin: 10% 0;
	padding: 10%;
	background: hsl(330, 100%, 98%);
	border-radius: 5%;
}

.prep h3 {
	color: hsl(332, 51%, 32%);
	margin-bottom: 5%;
}

.prep li {
	position: relative;
	left: 10%;
	margin-bottom: 5%;
}

.nutmeg {
	color: hsl(14, 45%, 36%);
}

span {
	color: hsl(24, 5%, 18%);
	font-weight: 600;
}

section li {
	position: relative;
	left: 7%;
    margin-bottom: 5%;
}

hr {
	background: hsl(30, 18%, 87%);
	margin: 10% 0;
	width: 100%;
}

.facts {
	margin: 10% 0;
}

.facts hr {
	margin: 5% 0;
}

.facts p {
	margin-left: 10%;
}

.fact-1 {
	margin-left: 22%;
}

.fact-2 {
	margin-left: 29%;
}

.fact-3 {
	margin-left: 25%;
}

.fact-4 {
	margin-left: 37%;
}

/* Make Website Responsive on Desktop */

@media (min-width: 400px) {
	body {
		padding: 10% 0;
		background: hsl(330, 100%, 98%);
	}
	
	.container {
		width: 60%;
		height: auto;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		background: white;
	}
		
	img {
	    width: 80%;
	    height: auto;
	    margin-top: 10%;
	    margin-left: 10%;
	    border-radius: 5%;
	}
}